.logo-container {
    height: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-basic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-items-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.profile-image-container {
    height: 100%;
    padding-right: 20px;
}

.margin-left {
    margin-left: 5px;
}

.margin-right {
    margin-right: 5px;
}
