.logo-container {
    height: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image-container {
    height: 100%;
    padding-right: 20px;
}

.margin-left {
    margin-left: 5px;
}

.margin-right {
    margin-right: 5px;
}
