@media (min-width: 800px) {
    #desktop-nav {
        display: block;
    }
    .navbar-container {
        height: 80px;
    }
    #mobile-nav {
        display: none;
    }
}

@media (max-width: 800px) {
    #mobile-nav {
        display: block;
    }
    .navbar-container-mobile {
        height: 80px;
    }
    #desktop-nav {
        display: none;
    }
}

.nav-items-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.container-basic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo-icon  {
    width: 36px;
}

.nav-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-icon {
    width: 30px;
    height: 30px;
}

.nav-icon-text {
    font-size: 12px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: var(--accent-1);
}