@media (min-width: 800px) {
    #desktop-nav {
        display: block;
        height: 80px;
    }
    #mobile-nav {
        display: none;
    }
}

@media (max-width: 800px) {
    #mobile-nav {
        display: block;
        height: 80px;
    }
    #desktop-nav {
        display: none;
    }
}



nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon  {
    width: 36px;
}

.nav-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-icon {
    width: 30px;
    height: 30px;
}

.nav-icon-text {
    font-size: 12px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: var(--accent-1);
}