footer {
    background: linear-gradient(var(--primary-1), var(--secondary-1));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 25px;
}

footer a, footer p {
    text-decoration: none;
    color: var(--accent-1);
    padding: 0.25em 1em;
    margin: 0 1em;
}

.socials ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

footer a:hover{
    color: var(--white);
}

.github {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}