

@media (min-width: 800px) {
    #larger-window-menu {
        display: block;
    }
    #smaller-window-menu {
        display: none;
    }
}

@media (max-width: 800px) {
    #larger-window-menu {
        display: none;
    }
    #smaller-window-menu {
        display: block;
    }
}

.project-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.project-menu, .project-menu>div {
    height: 100%;
    width: 150px;
}

.project-window {
    height: 100%;
}

@media (min-width: 800px) {
    .project-window {
        width: calc(100% - 150px);
    }
}

@media (max-width: 800px) {
    .project-window {
        width: 100%;
    }
}

.btn-golden {
    border: none;
    cursor: pointer;
}

.btn-golden:hover {
    color: var(--white);
}

.btn-golden:active:enabled {
    color: var(--white);
}

