:root {
    /*Purples*/
    --ultra-voilet: #654597;
    --african-violet: #9484AD;
    --royal-purple: #6c3baa;

    /*Golds*/
    --golden-brown: #A06C2C;
    --dark-goldenrod: #A06C2C;
    --goldenrod: #D0A216;
    --saffron: #E8BD0B;
    --gold: #FFD700;

    /*Reds*/
    --auburn: #973835;
    --rosewood: #510D0A;
    --dark-scarlet: #560319;

    /*Shades*/
    --ivory: #FFFEEB;
    --silver: #C3C3C3;
    --platinum: #E1E1E1;
    --isabelline: #F1EBE4;
    --night: #070908;

    --primary-1: var(--dark-scarlet);
    --primary-2: var(--ultra-voilet);
    --accent-1: var(--goldenrod);
    --secondary-1: var(--auburn);
    --secondary-2: var(--african-violet);
    --white: var(--ivory);
    --black: var(--night);
}

.app {
    height: 100vh;
    overflow: hidden;
}

.viewport {
    height: calc(100% - 60px);
    background-color: var(--white);
}