.calendar {
    height: 100%;
}

.calendar-header {
    height: 75px;
    width: 100%;
}

.calendar-display {
    height: calc(100% - 75px);
    width: 100%;
    overflow-y: scroll;
}

.calendar-display table {
    width: 100%;
    border-collapse: collapse;
}

.calendar-display thead th{
    position: sticky;
    top: 0;
    outline: 1px solid gray;
}

.time-col {
    width: 50px;
}