.logo_48px {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    color: white;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0px;
}

nav ul li {
    padding: 10px;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    color: #f1c40f;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}