.golden {
    color: var(--accent-1);
}

.golden:hover {
    color: var(--white);
}

.bg-red-gradient {
    background: linear-gradient(var(--primary-1), var(--secondary-1));
}

.bg-white {
    background-color: var(--white);
}

@media (min-width: 800px) {
    #desktop-nav {
        display: block;
    }
    #mobile-nav {
        display: none;
    }
}

@media (max-width: 800px) {
    #mobile-nav {
        display: block;
    }
    #desktop-nav {
        display: none;
    }
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--white);
    color: var(--black);
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--accent-1);
    padding: 5px 10px;
    margin: 0 5px;
}

nav a:hover{
    color: var(--white);
}

.logo, .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img, .profile img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.logo a {
    text-shadow: var(--black) 1px 1px;
}

.nav-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-icon {
    width: 30px;
    height: 30px;
}

.nav-icon-text {
    font-size: 12px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: var(--accent-1);
}